* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 25px;
}

.voltar button {
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 30px;
    padding-top: 10px;
}


.calculadora {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
    width: 320px;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    background: #111;
    color: #0f0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    margin-bottom: 20px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background: #444;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}


.igual {
    grid-column: span 2;
    background: #0a84ff;
}

.igual:hover {
    background: #0066cc;
}